@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* APRÈS */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Hover sur les rangées */
.movie-row-container:hover .scroll-btn {
  opacity: 1 !important;
}
.movie-row-container:hover .movie-overlay {
  opacity: 1 !important;
}

/* Responsive mobile */
@media (max-width: 640px) {
  .nav-links { display: none !important; }
}